@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 20% 2%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both; 
}

#logo img{
    height: 60px;
    border-right: 1px solid silver;
    padding-right: 20px;
    margin-bottom: 30px;
}

nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
}

nav li a{
    color: silver;
    text-decoration: none;
}

nav li a:hover{
    text-decoration: underline;
}

.container-1{
    margin: 3% 0;
    height: 500px;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 10px;
    position: relative;
}
.text-container-1{
    position: absolute;
    bottom: 15%;
    left: 5%;
    margin-right: 45%;
    color: white;
}

#titolo-container-1{
    font-size: 29px;
}

#titolo-container-2{
    font-size: 30px;
    font-weight: bold;
}

.text{
    color: silver;
    font-size: 15px;
}

.corpo{
    background-color: dodgerblue;
}

.col{
    height: 300px;
    float: left;
    background-color: lightblue;
}

.sinistra{
    width: 24%;
    margin: 1% 0;

}

.centro{
    width: 50%;
    margin: 1% 1%;
}

.destra{
    width: 24%;
    margin: 1% 0;
}

.piede{
    height: 50px;
    width: 100%;
    background-color: darkviolet;
    margin-top: 2%;
}