@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 20% 2%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both; 
}

#logo img{
    height: 60px;
    border-right: 1px solid silver;
    padding-right: 20px;
    margin-bottom: 30px;
}

nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
}

nav li a{
    color: silver;
    text-decoration: none;
}

nav li a:hover{
    text-decoration: underline;
}

.container1{
    margin: 3% 0;
    height: 500px;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 10px;
    position: relative;
}

.text-container1{
    position: absolute;
    bottom: 15%;
    left: 5%;
    margin-right: 45%;
    color: white;
}

#titolo-container1{
    font-size: 29px;
}

.testa{
    margin-bottom: 20px;
}

#titolo-container2{
    font-size: 30px;
    font-weight: bold;
}

.text{
    color: silver;
    font-size: 15px;
    line-height: 15px;
}

.col{
    height: 500px;
    float: left;
}

.sinistra{
    width: 23%;
    margin: 2% 0;
}

.centro{
    width: 50%;
    margin: 2%;
}

.destra{
    width: 23%;
    margin: 2% 0;
}

.immagine-container2{
    height: 200px;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

#sx{
    background-image: url(img/img-1.jpg);
}

#center{
    background-image: url(img/banner-2.jpg);
}

#dx{
    background-image: url(img/img-3.jpg);
}

.titolo-didascalia{
    font-weight: bold;
    margin: 10px 0;
}

.piede{
   text-align: center;
}

span{
    color: red;
    font-size: 25px;
}

.opaco{
    background-color: rgba(0,0,0,20%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}